<div class="col-md-12">
  <div class="operation">
    <%= link_to("Edit", edit_operation_path(@operation), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @operation.title %></h2>
  <p><%= @operation.description %></p>
</div>